body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #667;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: .7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.pimg1 {
    background-image: url('./images/parallax1/one.jpg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('./images/parallax1/two.jpeg');
    min-height: 60%;
}

.pimg3 {
    background-image: url('./images/parallax1/three.jpeg');
    min-height: 60%;
}

.section-p1 {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: white;
    color: #667;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-shadow: 
        0.025em 0.025em 0 black,
        0.05em 0.05em 0 red,
        0.075em 0.075em 0 blue,
        0.1em 0.1em 0 whitesmoke;
}

.ptext .border.trans {
    background-color: transparent;
}

/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */

.parallax-2 {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-2:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #667, transparent);
    z-index: 10000;
}

.parallax-2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #667;
    z-index: 10000;
    mix-blend-mode: color;
}

.p2-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#p2-text {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}

#p2-road {
    z-index: 2;
}

@media(max-width:568px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}